<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8"/>
        <title>Go back in time</title>
    </head>
    <body>

        {% autoescape off %}

        <div>{{ rendered|safe }}</div>

        <hr/>

        {% endautoescape %}


    </body>
</html>
